#player2-forms {
  display: none;
}

#gallows, #one, #two, #three, #four, #five, #fullman{
  display:none;
}

#guesses, #guessed {
  float: right;
  padding-right: 20%;
  font-size: 18px;
}

#guessed {
  font-size: 40px;

}

#player2-input2 {
  padding-top: 5px;
}

#wordToGuess {
  font-size: 45px;
}
